{% extends "layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}



{% block main %}
<style>

    .edit_page > *{
        margin: 10px;
        display: block;
    }   

</style>

    <form action="/edit" class="edit_page" method="post">
        <input type="text" placeholder="Title" name="title" value="{{ title }}"> <br />
        <textarea name="content" id="" cols="30" placeholder="Content of the entry" rows="10">{{ content }}</textarea>

        <button type="submit">Edit</button>
    </form>
{% endblock %}

